<header class="jumbotron">
  <h1><%=@intro.title%> </h1>
</header>
<div class="row">
  <div class="span2 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <%@intro.plan_intro_chapters.each do |chapter|%>
        <%cities = chapter.plan_intro_sections.where(:section_type => ['城市','去程','回程'])%>
        <li><a href="#chapter_<%=chapter.id%>"><i class="icon-chevron-right"></i>
          <%=chapter.title%>
          <%if(cities.length > 0)%>
            [<%cities.each {|city|%><%=city.title%> <%}%>]
          <%end%>
        </a></li>
      <%end%>
    </ul>
  </div>
  <div class="span9">
    <%@intro.plan_intro_chapters.each do |chapter|%>
    <section id="chapter_<%=chapter.id%>">
        <%city_sections = chapter.plan_intro_sections.where(:section_type => '城市')%>
        <div class="page-header">
            <h2>
                <%=chapter.title%>
            </h2>
        </div>
        <%if(city_sections.length > 0)%>
            <div class="hero-unit">
              <h4>
                <%city_sections.each do |city| %>
                <%= city.title %>
                <%end%>
              </h4>
              <%city_sections.each do |city| %>
                <p><%==m2h city.content%></p>
              <%end%>
            </div>
        <%end%>
        <%i=0%>
        <%chapter.plan_intro_sections.where(:section_type => ['行程','去程','回程']).each do |section|%>
        <div class="row">
            <%if(section && section.image_url.blank?)%>
              <div class="span9">
                <%= section.title %>
                <%if(!section.duration.blank?)%>
                    <span style="font-size: 14px;" class="text-info">需时<%= section.duration%></span>
                <%end%>
                </h4>
                <p><%==m2h section.content%></p>
              </div>
            <%else%>
              <%if(i%2 == 0)%>
              <div class="span4">
                <img src="<%=section.image_url%>">
              </div>
              <div class="span4">
                <h4>
                  <%= section.title %>
                  <%if(!section.duration.blank?)%>
                      <span style="font-size: 14px;" class="text-info">需时<%= section.duration%></span>
                  <%end%>
                </h4>
                <p><%==m2h section.content%></p>
              </div>
              <%else%>
                  <div class="span4">
                    <h4>
                      <%= section.title %>
                      <%if(!section.duration.blank?)%>
                          <span style="font-size: 14px;" class="text-info">需时<%= section.duration%></span>
                      <%end%>
                    </h4>
                    <p><%==m2h section.content%></p>
                  </div>
                  <div class="span4">
                    <img src="<%=section.image_url%>">
                  </div>
              <%end%>
            <%i=i+1%>
            <%end%>
            </div>
        <%end%>
        <div>
          <%chapter.plan_intro_sections.where(:section_type => '提示').each do |tip|%>
              <a href="#" data-trigger="collapse"><%=tip.title%></a>
              <div class="bs-docs-tip collapsible hide">
                <%==m2h tip.content%>
              </div>
          <%end%>
        </div>
    </section>
    <%end%>
  </div>
</div>