<header class="jumbotron">
  <h1><%=@intro.title%> </h1>
</header>
<div class="row">
  <div class="span2 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <%@intro.plan_intro_chapters.each do |chapter|%>
      <li><a href="#chapter_<%=chapter.id%>"><i class="icon-chevron-right"></i><%=chapter.title%></a></li>
      <%end%>
    </ul>
  </div>
  <div class="span9">
    <%@intro.plan_intro_chapters.each do |chapter|%>
    <section id="chapter_<%=chapter.id%>">
        <div class="page-header">
            <h2><%=chapter.title%></h2>
        </div>
        <div>
          <%chapter.plan_intro_sections.each do |section|%>
              <%if(section.section_type == "行程")%>
                <h4>
                  <%= section.title %>
                  <%if(!section.duration.blank?)%>
                      <span style="font-size: 14px;" class="text-info">需时<%= section.duration%></span>
                  <%end%>
                </h4>
                  <p><%==m2h section.content%></p>
              <%end%>
              <%if(section.section_type == "提示")%>
                <a href="#" data-toggle="popover" data-content="<%=section.content%>"><%=section.title%></a>
              <%end%>
          <%end%>
        </div>
    </section>
    <%end%>
  </div>
</div>