.q_skin
  -# 跟屏行程条 start
  %div(class="b_slide_nav sticky hide" id="b_slide_nav")
    %div(class="e_slide_nav clrfix")
      %div(class="m_tab_list js_nav_dests_con")
        %ul.clrfix
          - @locations.each do |loc|
            %li(class="tab  js_city" target="loc_#{loc[:id]}")
              %div.con
                %a(hidefocus="on" class="place" href="javascript:;")
                  %span.title
                    = loc[:location]
                  %b.color_focus
                    = "第#{loc[:days] + 1}天"
        %a(href="javascript:;" class="btn_arrows arrow_next ")
  -# 跟屏行程条

  -# 具体行程
  %div(class="container")
    %div.ct_bg
      %div(class="b_ugc_operation clrfix" style="background-image:url(/img/photos/plan_#{@plan.id}/#{@plan.img})")
        %div(class="left")
          %div(class="e_author clrfix")
            %div.text(style="color:white")
              %h3.e_hd=@plan.title
              %div.line_1
                =@plan.sub_title
              %div(class="line_2 clrfix")
                =@plan.points
    %div(class="main_box clrfix  sticky-parent")
      .main_leftbox(id="js_mainleft")
        .b_panel_schedule(id="b_panel_schedule")
          - i=0;
          - firstday = true
          - @schedules.each do |s|
            - i = i+1
            - if s.is_loc_start?
              - if !firstday
                !='</div>'
                %div(id="quickenter" class="quickenter")
                  %a(class="q_prev hide" href="javascript:;")
                  - if(s.prev_loc)
                    %span.q_now
                      当前城市：
                      =s.prev_loc.location
                  %a(class="q_next tab" href="javascript:;" target="loc_#{s.id}")
                    下一站：
                    =s.location
                !='</div>'
              - loc_div = "<div class=\"e_main\" id=\"loc_#{s.id}\">"
              !=loc_div
            - if s.is_day_start?
              - if !firstday && !s.is_loc_start?
                !='</div>'
              - day_div = "<div class=\"e_day\" id=\"sch_#{s.id}\">"
              !=day_div
              - firstday = false
              %h4.period_hd
                %span.day= s.day
                %span.day= s.location
            .period_ct
              %div(class="b_poi_info b_expand_info")
                - if(s.is_loc_start?)
                  - if(@intros[s.day])
                    .top
                      %h3(style="font-size:15px;")
                        = m2h(@intros[s.day].content).html_safe
                    .bottom
                      .ops
                .top
                  %h5(class="type event")
                    =s.action
                  %span.text
                    = m2h(s.desc).html_safe
                  - if(s.img)
                    %div(class="img img1 clrfix")
                      %img(src="/img/photos/plan_#{@plan.id}/详细行程/#{s.img}.jpg")
                  -if s.path
                    %h5(class="type bus")
                      交通路线
                    %span.text
                      = m2h(s.path).html_safe
                  - [['餐饮推荐',s.food, "type food"], ['购物推荐', s.shop, "type shopping"], ['小提示', s.comment]].each do |content|
                    - if(content[1])
                      %h5(class="#{content[2]}")= content[0]
                      %p
                        = m2h(content[1]).html_safe
                .bottom
                  .ops
                    %div(class="inner clrfix")
                      %span.left
                      %span.right
                        %a.comment(href="javascript:;" class="js_expand_btn" target="comment_#{i}") 评论
                  %div(class="b_comment_reply js_expandBox hide" id="comment_#{i}")
                    %div.pic_triangle
                    %div(class="q_box clrfix" style="border-top:0px none;")
                      %div.q_box_l
                        %img(width="35" height="35" src="/img/default_header.jpg" title="" alt="游客")
                      %div.q_box_r
                        %div(class="q_comment_box clrfix")
                          %div(class="q_comment_box_textarea")
                            %textarea(cols="5" rows="5" style="display: inline-block; color: rgb(213, 213, 213);" class="js_expendTextarea js_textarea" placeholder="有什么建议或评论，来说两句吧！（不超过300字）")
                            %div(style="display:none")
                          %div.q_comment_box_btn
                            %a(href="#" class="btn_comment js_expendSubmit" data-beacon="Schedule_Comment_submit") 评 论
  .main_rightbox
    .b_stage_side.b_detail_list_side
      / 右侧内容
      .e_widget.e_new_action{:style => "position:relative; height:547px; overflow:hidden;"}
        %h4{:style => "position:relative; z-index:2; background:#F5FBFB"} 相关的问题
        .ct_list_bg
          .ct_list_wrap.js_newsCoverageCon{:style => "height: 500px; overflow: hidden; position: relative; top: 0px; left: 0px; margin-top: 0px;"}
            %ul.ct_list.js_newsCoverage
              - @questions.each do |q|
                %li.list
                  .clrfix
                    %p.des
                      %a{:href => "/qa/#{q.code}", :target => "_blank"}= q.title
          .ct_blank


  -# 评论
  #b_recent_comment.b_recent_comment
    %h3.e_hd 最新评论
    %dl.e_ct.clrfix.js_commentbox
      %dt.e_ct_l
        %img{:alt => "游客", :height => "50", :src => "/img/default_header.jpg", :title => "", :width => "50"}
          %span 游客
      %dd.e_ct_r
        .textarea_box
          %textarea#input_0tdooer.PLACEHOLDER-INPUT{:cols => "", "data-placeholder" => "有什么建议或评论，来说两句吧！（不超过300字）", "data-placeholder-css" => "font-size:12px;", :name => "", :rows => ""}
          %label#input_0tdooer_placeholder.PlaceHolder.PlaceHolder-for-textarea.PLACEHOLDER-LABEL{:for => "input_0tdooer", :style => "position: absolute; display: block; top: 4px; left: 5px; cursor: text; margin-left: 0px; margin-top: 0px; font-size: 12px;"} 有什么建议或评论，来说两句吧！（不超过300字）
          .success_tip{:style => "display: none; position: absolute; left: 0; top: 5px"}
            %b>
            发表成功
        .ops_btn
          %span.info_error{:style => "display: none; color: rgb(85, 85, 85);"}
            还可以输入
            %span{:style => "color: #FF6600"}> 297
            个字
          %a.btn_comment.js_submit_comment{"data-beacon" => "tjpinglunbutton", :href => ""} 发表评论
    .js_commentlist
      .e_ct_list
        %dl.e_ct.clrfix
          %dt.e_ct_l
            %img{:alt => "歪脖", :height => "50", :src => "/uploads/account/logo/1/logo.ico", :title => "", :width => "50"}/
          %dd.e_ct_r
            .title
              歪脖
              %span.gray 说
            .summary 本行程针对第一次去日本关西的朋友设计的，力求做到你什么都不需要调查就可以像老驴一样玩转关西。所以在设计上即考虑了如何选择特色景点，也考虑了去这些地方的难易程度，在住宿上尽量选择交通方便的地方。
        %dl.e_ct.clrfix
          %dt.e_ct_l
            %img{:alt => "火星人", :height => "50", :src => "/uploads/account/logo/2/logo.ico", :title => "", :width => "50"}/
          %dd.e_ct_r
            .title
              火星人
              %span.gray 说
            .summary 还有BUS通票？这个果然方便。
      .e_op_link.ops_btn_check
        %a{"data-beacon" => "Recommend_more", :href => "#", :target => "_blank"}
          查看全部
          %b> 2
          条评论
  -#评论

